.product {
  max-width: 900px;
  margin: 80px auto;
  padding: 20px;

  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #fff;

  &__image {
    width: 400px;
    height: 400px;
    border-radius: 8px;
  }

  &__name {
    font-size: 30px;
  }

  &__desc {
    margin: 20px 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

    .decreBtn {
      background-color: #e4e4e4;
    }

    .increBtn {
      background-color: #fa8c16;
    }

    i {
      border-radius: 50%;
      width: 32px;
      height: 32px;

      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: #fff;
    }
  }
  &__note {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    img {
      padding: 12px;
      background-color: #f5f5f5;
    }
    input {
      width: 100%;
      padding: 12px 16px;
      outline: none;
      border: none;
      font-size: 1rem;
      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  &__size {
    margin-top: 1rem;

    border-radius: 8px;
    border: 1px solid #f5f5f5;
    overflow: hidden;

    & > p:first-child {
      font-size: 12px;
      font-weight: 600;

      padding: 8px 8px 8px 1rem;
      grid-column: span 3;
      color: #666;
      background-color: #f5f5f5;
    }

    .labels {
      display: flex;
      gap: 30px;
      padding: 0 1rem;
      label {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
        padding: 0.5rem 0 0.5rem 1.5rem;

        .checkmark {
          position: absolute;
          left: 4px;
          top: 50%;
          transform: translateY(-50%);

          border-radius: 50%;
          width: 24px;
          height: 24px;
          background-color: #fff;
          border: 2px solid #999;
          transition: 0.3s;

          &::after {
            content: "";
            position: absolute;
            inset: 5px;

            background-color: #fa8c16;
            border-radius: 50%;
            opacity: 0;
            transition: 0.3s;
          }
        }

        input {
          opacity: 0;
        }

        input:checked ~ .checkmark {
          border: 2px solid #fa8c16;
          box-shadow: 0 0 4px 2px #fa8c166e;
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
  .addBtn {
    width: 100%;
    border-radius: 5rem;
    background-color: #fa8c16;
    color: #fff;
    border: none;
    outline: none;
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  .product-detail {
    grid-column: span 2;
    &__header {
      background-color: #f5f5f5;
      padding: 8px 24px;
      font-weight: 600;
      color: #666;
      font-size: 12px;
    }
    &__content {
      h2,
      h3,
      h4 {
        font-size: 30px;
        display: block;
        margin: 1rem auto;
      }
      strong {
        margin: 0.5rem auto;
        display: block;
      }
    }
  }
}
